In [1]:
import pandas as pd

In [158]:
df = pd.read_csv('sample-2.csv')
df.head()

   DATE ORIGIN DESTINATION  TIME_TAKEN  KMS BUS_NUM   TRAVELS
0     1    GNT         HYD         5.0  350    AA11  KESINENI
1     1    HYD         GNT         6.0  380    AA11  KESINENI
2     2    BZA         VIZ         7.0  330    BB22    MORING
3     2    ONG         GNT         4.0  200    BB33    MORING
4     2    NEL         BZA         7.0  320    BB44       VLR

In [159]:

valuess = []

In [162]:
for i in range(1,len(df)):
    if  (df.iloc[i].DATE == df.iloc[i-1].DATE) and (df.iloc[i].TRAVELS == df.iloc[i-1].TRAVELS):
        if df.iloc[i-1].ORIGIN == df.iloc[i].DESTINATION:
            values = []
            value = df.iloc[i-1].ORIGIN +" "+df.iloc[i-1].DESTINATION + '|'+df.iloc[i].ORIGIN +" "+df.iloc[i].DESTINATION
            values.append(value)
            values.append(df.iloc[i-1].TIME_TAKEN)
            values.append(df.iloc[i].TIME_TAKEN)
            values.append(df.iloc[i-1].KMS)
            values.append(df.iloc[i].KMS)
            values.append(df.iloc[i].TRAVELS)

In [163]:
valuess

[['GNT HYD|HYD GNT', 5.0, 6.0, 350, 380, 'KESINENI'],
 ['ANT GNT|GNT ANT', 7.0, 7.5, 340, 360, 'KKR']]

In [164]:
pd.DataFrame(valuess,columns =[ 'Route','TIME_TAKEN','TIME_TAKEN2','KMS','BUSNUM','Travels'] )

             Route  TIME_TAKEN  TIME_TAKEN2  KMS  BUSNUM   Travels
0  GNT HYD|HYD GNT         5.0          6.0  350     380  KESINENI
1  ANT GNT|GNT ANT         7.0          7.5  340     360       KKR